
  $blue-4: #0A2896;
  $blue-3: #003BFF;
  $blue-2: #0056FF;
  $blue-1: #0085FF;

  $dark-2: #272d53;
  $dark-1: #2b3157;

  $white-1: #F3F7FA;
  $grey-1: #B6C1DD;

  $background-gray: #f2f2f2;

  $dark-grad: linear-gradient(271.65deg, #2C3157 1.1%, #1B2149 98.51%);
